<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdNetworks</key>
	<dict>
		<key>Millennial Media</key>
		<array>
			<dict>
				<key>Banner</key>
				<dict>
					<key>id</key>
					<string>1aa442709c9f11e281c11231392559e4</string>
					<key>type</key>
					<integer>0</integer>
					<key>class</key>
					<string>MPBannerAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Interstitial</key>
				<dict>
					<key>id</key>
					<string>de4205fc932411e295fa123138070049</string>
					<key>type</key>
					<integer>1</integer>
					<key>class</key>
					<string>MPInterstitialAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Native</key>
				<dict>
					<key>id</key>
					<string>b6191f80fa6f4241a942254df07f0b59</string>
					<key>type</key>
					<integer>5</integer>
					<key>class</key>
					<string>MPNativeAdPlacerTableViewController</string>
				</dict>
			</dict>
		</array>
		<key>AdMob</key>
		<array>
			<dict>
				<key>Banner</key>
				<dict>
					<key>id</key>
					<string>2a837092dce74cf6b030d5e15aa0b88d</string>
					<key>type</key>
					<integer>0</integer>
					<key>class</key>
					<string>MPBannerAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Interstitial</key>
				<dict>
					<key>id</key>
					<string>744e217f8adc4dec89c87481c9c4006a</string>
					<key>type</key>
					<integer>1</integer>
					<key>class</key>
					<string>MPInterstitialAdDetailViewController</string>
				</dict>
			</dict>
		</array>
		<key>FAN</key>
		<array>
			<dict>
				<key>Banner</key>
				<dict>
					<key>id</key>
					<string>446dfa864dcb4469965267694a940f3d</string>
					<key>type</key>
					<integer>0</integer>
					<key>class</key>
					<string>MPBannerAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Interstitial</key>
				<dict>
					<key>id</key>
					<string>cec4c5ea0ff140d3a15264da23449f97</string>
					<key>type</key>
					<integer>1</integer>
					<key>class</key>
					<string>MPInterstitialAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Native</key>
				<dict>
					<key>id</key>
					<string>1ceee46ba9744155aed48ee6277ecbd6</string>
					<key>type</key>
					<integer>4</integer>
					<key>class</key>
					<string>MPNativeAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Native Video</key>
				<dict>
					<key>id</key>
					<string>e251c5ae02514e2bb2eb83f938435c34</string>
					<key>type</key>
					<integer>5</integer>
					<key>class</key>
					<string>MPNativeAdPlacerTableViewController</string>
				</dict>
			</dict>
		</array>
		<key>AdColony</key>
		<array>
			<dict>
				<key>Interstitial</key>
				<dict>
					<key>id</key>
					<string>f274abbd278e481e8513abfa6a8affc1</string>
					<key>type</key>
					<integer>1</integer>
					<key>class</key>
					<string>MPInterstitialAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Rewarded Video</key>
				<dict>
					<key>id</key>
					<string>5fc475d65f014130acb556634b4af4cc</string>
					<key>type</key>
					<integer>8</integer>
					<key>class</key>
					<string>MPRewardedVideoAdDetailViewController</string>
				</dict>
			</dict>
		</array>
		<key>Chartboost</key>
		<array>
			<dict>
				<key>Interstitial</key>
				<dict>
					<key>id</key>
					<string>e251c5ae02514e2bb2eb83f938435c34</string>
					<key>type</key>
					<integer>1</integer>
					<key>class</key>
					<string>MPInterstitialAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Rewarded Video</key>
				<dict>
					<key>id</key>
					<string>e251c5ae02514e2bb2eb83f938435c34</string>
					<key>type</key>
					<integer>8</integer>
					<key>class</key>
					<string>MPRewardedVideoAdDetailViewController</string>
				</dict>
			</dict>
		</array>
		<key>Mopub</key>
		<array>
			<dict>
				<key>Banner</key>
				<dict>
					<key>id</key>
					<string>0ac59b0996d947309c33f59d6676399f</string>
					<key>type</key>
					<integer>0</integer>
					<key>class</key>
					<string>MPBannerAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Interstitial</key>
				<dict>
					<key>id</key>
					<string>4f117153f5c24fa6a3a92b818a5eb630</string>
					<key>type</key>
					<integer>1</integer>
					<key>class</key>
					<string>MPInterstitialAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Rewarded Video</key>
				<dict>
					<key>id</key>
					<string>8f000bd5e00246de9c789eed39ff6096</string>
					<key>type</key>
					<integer>8</integer>
					<key>class</key>
					<string>MPRewardedVideoAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Native</key>
				<dict>
					<key>id</key>
					<string>76a3fefaced247959582d2d2df6f4757</string>
					<key>type</key>
					<integer>4</integer>
					<key>class</key>
					<string>MPNativeAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Native Video</key>
				<dict>
					<key>id</key>
					<string>b2b67c2a8c0944eda272ed8e4ddf7ed4</string>
					<key>type</key>
					<integer>5</integer>
					<key>class</key>
					<string>MPNativeAdPlacerTableViewController</string>
				</dict>
			</dict>
		</array>
		<key>Tapjoy</key>
		<array>
			<dict>
				<key>Interstitial</key>
				<dict>
					<key>id</key>
					<string>0ac59b0996d947309c33f59d6676399f</string>
					<key>type</key>
					<integer>1</integer>
					<key>class</key>
					<string>MPInterstitialAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Rewarded Video</key>
				<dict>
					<key>id</key>
					<string>0ac59b0996d947309c33f59d6676399f</string>
					<key>type</key>
					<integer>8</integer>
					<key>class</key>
					<string>MPRewardedVideoAdDetailViewController</string>
				</dict>
			</dict>
		</array>
		<key>Yahoo</key>
		<array>
			<dict>
				<key>Banner</key>
				<dict>
					<key>id</key>
					<string>0ac59b0996d947309c33f59d6676399f</string>
					<key>type</key>
					<integer>0</integer>
					<key>class</key>
					<string>MPBannerAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Interstitial</key>
				<dict>
					<key>id</key>
					<string>0ac59b0996d947309c33f59d6676399f</string>
					<key>type</key>
					<integer>1</integer>
					<key>class</key>
					<string>MPInterstitialAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Native </key>
				<dict>
					<key>id</key>
					<string>0ac59b0996d947309c33f59d6676399f</string>
					<key>type</key>
					<integer>5</integer>
					<key>class</key>
					<string>MPNativeAdPlacerTableViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Native Video</key>
				<dict>
					<key>id</key>
					<string>0ac59b0996d947309c33f59d6676399f</string>
					<key>type</key>
					<integer>4</integer>
					<key>class</key>
					<string>MPNativeAdDetailViewController</string>
				</dict>
			</dict>
		</array>
		<key>Unity</key>
		<array>
			<dict>
				<key>Rewarded Video</key>
				<dict>
					<key>id</key>
					<string>0ac59b0996d947309c33f59d6676399f</string>
					<key>type</key>
					<integer>8</integer>
					<key>class</key>
					<string>MPRewardedVideoAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Interstital</key>
				<dict>
					<key>id</key>
					<string>0ac59b0996d947309c33f59d6676399f</string>
					<key>type</key>
					<integer>1</integer>
					<key>class</key>
					<string>MPInterstitialAdDetailViewController</string>
				</dict>
			</dict>
		</array>
		<key>Vungle</key>
		<array>
			<dict>
				<key>Interstitial</key>
				<dict>
					<key>id</key>
					<string>62b74f131ddc49c0bd8b22cf6e8a0411</string>
					<key>type</key>
					<integer>1</integer>
					<key>class</key>
					<string>MPInterstitialAdDetailViewController</string>
				</dict>
			</dict>
			<dict>
				<key>Rewarded Video</key>
				<dict>
					<key>id</key>
					<string>39f2a3f82f834d3fba1819d8b22f49cc</string>
					<key>type</key>
					<integer>8</integer>
					<key>class</key>
					<string>MPRewardedVideoAdDetailViewController</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
